<%- include('header') -%>

<div class="contact-text">
<h4>Wanna talk to us?Send us a message.</h4>
</div>
<div class="contact-div">
<h1 class="page-title">Contact Us</h1>
<form action="">

<input name="contact-name" class="contact-name"type="text" placeholder="Name">
<br>

<input name="contact-email" class="contact-email" type="text" placeholder="Email">
<br>

<textarea name="Contact-messade" class="contact-textarea" id="" cols="23" rows="10" placeholder="Message"></textarea>
<br>
<button type="submit" class="submit-button">Submit</button>
</form>
</div>
<%- include('footer') -%> 