<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FeedBox</title>
   

<!-- Css Stylesheet -->
    <link rel="stylesheet" href="styles.css">
<!-- Swup -->
<script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script> 
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&family=Montserrat:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  </head>
  <!-- Navbar -->
  <body>
    <div class="navbar">
        <h1 class="title">FeedBox</h1>
      <div class="navbar-buttons">
        <a id="about"class="navbar-button home"type="button" name="button" href="/">Home</a>
        <a id="about"class="navbar-button about"type="button" name="button" href="/about">About</a>
          <a id="contact"class="navbar-button contact"type="button" name="button" href="/contact">Contact </a>
            <a id="join" class="navbar-button join"type="button" name="button">Join</a>

      </div>
      <main id="swup" class="transition-fade">


<div class="tagline-div">
<h1 class="tagline-main">Feedback is the breakfast of champions.</h1>
<hr class="get-hr">
<a class="get-button" href="/feedback">Use FeedBox</a>
<hr class="get-hr">
</div>




    <div id="description"class="description-main-div">
        <div class="description-1-div description-div" >
 <h3 class="description-1-head description-head">What is FeedBox?</h3>
 <ion-icon id="d-1" class="icon-down" name="caret-down-outline">
 </ion-icon>

  <p class="d-1 description " style="display: none;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pretium sollicitudin lacus at porta. Duis risus massa, euismod quis consequat sed, dapibus id ipsum. Proin et quam pellentesque augue lacinia gravida vel sit amet neque. Duis egestas ex quis lectus aliquam, rutrum sollicitudin nibh ullamcorper. Etiam vitae est urna. Nunc est quam, accumsan efficitur posuere et, commodo at turpis. Phasellus sollicitudin vulputate est eu consectetur. Nunc quam elit, pharetra in sollicitudin vel, tincidunt et turpis. Pellentesque lobortis libero non ex vestibulum tincidunt. Fusce nec fringilla libero. Praesent dictum nulla sed ipsum varius, vulputate finibus purus venenatis. Vivamus eget tellus finibus, ornare odio eu, scelerisque ligula. Morbi eget congue erat. Etiam venenatis, purus ac laoreet mattis, velit mi sagittis purus, in fringilla lectus elit quis quam. Nam tempor semper sapien, vel condimentum magna rhoncus sit amet.</p>
        </div>
       <div class="description-div description-2-div">
<h3 class="description-2-head description-head">How does it work?</h3>

<ion-icon class="icon-down" id="d-2" name="caret-down-outline"></ion-icon> 

<p class="d-2 description" style="display: none;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pretium sollicitudin lacus at porta. Duis risus massa, euismod quis consequat sed, dapibus id ipsum. Proin et quam pellentesque augue lacinia gravida vel sit amet neque. Duis egestas ex quis lectus aliquam, rutrum sollicitudin nibh ullamcorper. Etiam vitae est urna. Nunc est quam, accumsan efficitur posuere et, commodo at turpis. Phasellus sollicitudin vulputate est eu consectetur. Nunc quam elit, pharetra in sollicitudin vel, tincidunt et turpis. Pellentesque lobortis libero non ex vestibulum tincidunt. Fusce nec fringilla libero. Praesent dictum nulla sed ipsum varius, vulputate finibus purus venenatis. Vivamus eget tellus finibus, ornare odio eu, scelerisque ligula. Morbi eget congue erat. Etiam venenatis, purus ac laoreet mattis, velit mi sagittis purus, in fringilla lectus elit quis quam. Nam tempor semper sapien, vel condimentum magna rhoncus sit amet.</p>
       </div>
       <div class="description-div description-2-div">
        <h3 class="description-3-head description-head">Who are we?</h3>
        
        <ion-icon class="icon-down" id="d-3" name="caret-down-outline"></ion-icon> 
        
        <p class="d-3 description" style="display: none;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pretium sollicitudin lacus at porta. Duis risus massa, euismod quis consequat sed, dapibus id ipsum. Proin et quam pellentesque augue lacinia gravida vel sit amet neque. Duis egestas ex quis lectus aliquam, rutrum sollicitudin nibh ullamcorper. Etiam vitae est urna. Nunc est quam, accumsan efficitur posuere et, commodo at turpis. Phasellus sollicitudin vulputate est eu consectetur. Nunc quam elit, pharetra in sollicitudin vel, tincidunt et turpis. Pellentesque lobortis libero non ex vestibulum tincidunt. Fusce nec fringilla libero. Praesent dictum nulla sed ipsum varius, vulputate finibus purus venenatis. Vivamus eget tellus finibus, ornare odio eu, scelerisque ligula. Morbi eget congue erat. Etiam venenatis, purus ac laoreet mattis, velit mi sagittis purus, in fringilla lectus elit quis quam. Nam tempor semper sapien, vel condimentum magna rhoncus sit amet.</p>
               </div>
   </div>


</main>

<div class="footer">
  <div class="footer-div">
  <div class="join-div">
  <p> Join a community of geeky web devs; Where really awesome people meet,interact,learn
   and help each other.</p>
  <a href=""></a><button class="join-button">Join Discord Server</button>
  </div>
  <hr class="footer-hr">
  <div class="social-div">
    <p>Find us on the internet</p>
    <ion-icon class="social-icon" name="logo-instagram"></ion-icon>
    <ion-icon class="social-icon" name="logo-github"></ion-icon>
    <ion-icon class="social-icon" name="logo-paypal"></ion-icon>
    <ion-icon class="social-icon" name="logo-reddit"></ion-icon>

  </div>
  <hr class="footer-hr">
  <div class="contact-details">
  <p>Contact us at</p>
<p>abc@gmail.com</p>
<p>47489374678</p>
<p> Easy Streets, New York</p>
  </div>

  </div>
     </main>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="index.js" charset="utf-8"></script>

  </body>
</html>
