<%- include('header') -%>

<div class="tagline-div">
<h1 class="tagline-main">Feedback is the breakfast of champions.</h1>
<hr class="get-hr">
<a class="get-button" href="/feedback">Get Feedback</a>
<hr class="get-hr">
</div>

<%- include('footer') -%>